<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/src.js"></script>
</head>
<body>
    
   
        <div class="main-content">
            {{>header}}
            <p>This site is created by {{name}}</p>
            <p>It take data from mapbox API</p>
            <p>It get weather data from weather stack</p>
            <h2>My name is {{name}}</h2>
            <img src="./css/images/kevit-logo.jpg" alt="Kevit">
            {{>footer}}
        </div>
   
        
        
        
    
    
</body>
</html>